extends base
block content 
  section.form
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam veniam facere ratione dolorum qui tenetur quasi? Iusto sequi pariatur quasi molestias odio laboriosam exercitationem, qui voluptates voluptatum culpa expedita fuga.
