extends base

block content 
  section.cart
    table.table
      thead
        tr
          th(scope="col") #
          th(scope="col") image
          th(scope="col") username
          th(scope="col") email
      tbody
        each user , i in users
          tr
            th(scope="row")= `${i+1}`
            td
              img(style="width: 5em; height:5em; border-radius: 20%;", src=`/img/users/${user.photo}`)
            td= user.username
            td= user.email
